@import '../vendor/bootstrap/_core.scss';

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  min-height: 100%;
  background-color: #f2f2f2;
}

.app-content {
  padding-top: 1rem;

  @include media-breakpoint-up(md) {
    padding-top: 6rem;
  }

  &__wizard-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a2c2;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    span {
      font-size: 24px;
      font-weight: bold;
      color: #ffff;
    }
  }

  &__category {
    ul {
      cursor: pointer;
    }
  }
  &__drop-file {
    width:100%; height: 380px; border: 2px dashed $primary;
  }

  &__size-buttom {
    width: 50%;

    @include media-breakpoint-up (md) {
      width: 25%;
    }
  }
}