@import '../vendor/bootstrap/_core.scss';

.services {
  &__card {
    @include media-breakpoint-up (md) {
      max-width: 100%;
      height: 150px;
    }
  }

  &__badge {
    span {
      padding: 0.6rem;
      color: #ffffff;
      font-size: 1.3rem;
    }

    .deleteBadge {
      position: absolute;
      left: -3px;
      bottom: 22px;
      background: #808080;
      border-color: #808080;
      cursor: pointer;
    }
  }
  
  &___subCategory {
    border: none;
    @include media-breakpoint-up (md) {
      border-left: 2px solid rgb(206, 206, 206);;
    }
  }

  &__size-buttom {
    width: 50%;

    @include media-breakpoint-up (md) {
      width: 25%;
    }
  }

}