<template>
  <div>
    <h3 class="mb-2 mb-md-4 font-weight-normal">Cuéntanos de qué trata tu proyecto</h3>
    <p>¡Explica brevemente en qué consiste tu necesidad y en 4 pasos tendrás un plan a tu medida!</p>
    <form action="">
      <div class="form-group">
        <label for="">Ponle un título fácil, que identifique tu requerimiento *</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Título del proyecto (Ej: ...)">
      </div>

      <div class="form-group">
        <label for="">Agrega un párrafo que nos ayude a entender lo que necesitas o el objetivo que deseas lograr.*</label>
        <textarea class="form-control" v-model="aditionalInfomation" rows="10"></textarea>
        <small id="helpId" class="form-text text-danger" v-if="error">{{ MensajeError }}</small>
        <small id="helpId" class="form-text text-muted" v-else>+Obligatorio</small>
      </div>
      <div class="text-right">
        <button name="" id="" class="btn btn-primary btn-lg app-content__size-buttom" @click="continuar()">Continuar</button>
      </div>
    </form>  

  </div>
</template>
<script>
export default {
  data: () => ({
    aditionalInfomation: '',
    error: false,
    MensajeError: ''
  }),
  methods: {
    continuar() {
      if(this.aditionalInfomation === '') {
        this.error = true 
        this.MensajeError = 'El campo es requierdo'
      }else {
        this.error = false
        this.$router.push({ path: '/step2' })
      }
    }
  }
}
</script>

<style scoped>
.content {
  height: 80vh;
}
</style>