<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 text-left">
          <div class="app-content__wizard-number">
            <span>1/4</span>
          </div>
        </div>
        <div class="col-12 col-md-8">
            <Step1 />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Step1 from '@/components/step/Step1'

export default {
  name: 'Home',
  components: {
    Step1
  }
}
</script>
