<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 text-left">
          <div class="app-content__wizard-number">
            <span>3/4</span>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <h3 class="mb-2 mb-md-2 font-weight-normal">Selecciona el área profesional adecuada</h3>
          <p class="mb-md-4">Elige el servicio que enfoca tu necesidad principal:</p>
          <div class="d-flex justify-content-center align-items-center app-content__drop-file">
            <div class="form-group">
              <label for=""></label>
              <input type="file" class="form-control-file" name="" id="" placeholder="" aria-describedby="fileHelpId">
            </div>
          </div>
          <div class="form-group mt-5">
            <label for="" class="mb-2">Tu comentario (ideas, pedidos, ejemplos, webs, paleta de colores, marcas preferidas, versiones previas, etc.):*</label>
            <textarea class="form-control" v-model="aditionalInfomation" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-2">
      <router-link to="/step2" tag="a"> Volver</router-link>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    error: false,
    MensajeError: ''
  })
}
</script>