<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 text-left">
          <div class="app-content__wizard-number">
            <span>2/4</span>
          </div>
        </div>
        <div class="col-12 col-md-9">
            <h3 class="mb-2 mb-md-2 font-weight-normal">Selecciona el área profesional adecuada</h3>
            <p class="mb-md-4">Elige el servicio que enfoca tu necesidad principal:</p>
            <Servicios> </Servicios>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Servicios from '@/components/step/step2/Servicios'
export default {
  name: 'Step2',
  components: { Servicios }
}
</script>
