<template>
  <div v-if="active" class="mt-5 w-100 app-content__category">
    <p class="my-2"> Marca la categoría y subcategoría que correspondan*:</p>
     <div class="card" style="width: 100%;">
       <div class="card-body ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-8">
                  <ul class="list-group list-group-flush" v-for="item in $store.state.category" :key="item.id" @click="selectCaregory(item)">
                    <li class="list-group-item border-0 pointer" :style="[item.active ? {backgroundColor: color} : '' ]" >{{ item.nameCategory  }}</li>
                  </ul>
                </div>
                <div class="col-8 col-md-4 services__subCategory" v-if="$store.state.activeSubcategory"  >
                  <span class="d-block d-md-none">SubCategory</span>
                  <ul class="list-group list-group-flush" v-for="subItem in $store.state.subCategory" :key="subItem.id" @click="selecSubCategory(subItem)">
                   <li class="list-group-item border-0 pointer" :style="[subItem.active ? {backgroundColor: color} : '' ]">{{ subItem.nameSubCategory }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    categoryActive: false
  }),
  props: ['active', 'color'],
  methods: {
    selectCaregory(item) {
      this.$store.state.category.forEach(element => {
        if(element.idCategory === item.idCategory) {
          element.active = true 
        } else {
          element.active = false
        }
      })


      if(item) {
        this.$store.commit('selectSubcategory', true)
        this.$store.commit('getSubCategory', item.subcategory)
      } else {
        this.$store.commit('selectSubcategory', false)
      }

    },

    selecSubCategory(item) {
      this.$store.state.subCategory.forEach(element => {
        if(element.idSubcategory === item.idSubcategory) {
          element.active = true 
        } else {
          element.active = false
        }
      })
    }
  }
}
</script>
