<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-md-3 pl-0 mb-2 mb-md-0" v-for="servicio in services" :key="servicio.id" @click="openService(servicio)" style="cursor: pointer">
          <div class="card shadow border-0 services__card" :style="[servicio.active ? {backgroundColor: servicio.color} : '' ]" :class="servicio.active ? 'text-white' : ''">
            <div class="card-body m-auto text-center">
              <font-awesome-icon :icon="['fas', servicio.icon]" size="3x"/>
              <p class="card-text">{{ servicio.nameServices }}</p>
            </div>
          </div>
        </div>
        <Category :active="categoryActive" v-if="categoryActive" :color="color"/>
        <div class="mt-4" v-if="categoryActive">
          <p class="my-2"> Marca la categoría y subcategoría que correspondan*:</p>
          <form class="form-inline">
            <div class="form-group mb-2">
              <label for="inputPassword2" class="sr-only">Agregar</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Agregar">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Agregar</button>
          </form>
          <div class="services__badge mt-3">
            <div class="d-inline position-relative">
              <span class="mr-2" :style="[categoryActive ? {backgroundColor: color} : '' ]">Servicio</span>
              <font-awesome-icon :icon="['fas', 'times-circle']" class="deleteBadge text-white border rounded" size="lg"/>

            </div>
            <div class="d-inline position-relative">
              <span class="mr-2" :style="[categoryActive ? {backgroundColor: color} : '' ]">Servicio</span>
              <font-awesome-icon :icon="['fas', 'times-circle']" class="deleteBadge text-white border rounded" size="lg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-4">
      <router-link to="/" tag="a"> Volver</router-link>
      <button name="" id="" class="btn btn-primary btn-lg services__size-buttom" @click="continuar()" v-if="categoryActive">Continuar</button>
    </div>
  </div>
</template>

<script>
import services from '../../../data/services.json'
import Category from '@/components/step/step2/Category'
export default {
  components: {
    Category
  },
  data: () => ({
    services: services,
    appIcon: 'bars',
    categoryActive: false,
    color: ''
  }),
  methods: {
    openService(item) {
      this.services.forEach(element => {
        if(element.id === item.id) {
          element.active = true
          this.color = element.color
          this.categoryActive = true
          this.$store.commit('getCategory', item.category)
          this.$store.commit('selectSubcategory', false)
        } else {
          this.disableCategory()
          element.active = false
        }
      });
      return this.services
    },
    disableCategory() {
      if(this.$store.state.category) {
        this.$store.state.category.forEach(element => {
          element.active = false
        })
      }
    },
    continuar() {
      if(this.aditionalInfomation === '') {
        this.error = true 
        this.MensajeError = 'El campo es requierdo'
      }else {
        this.error = false
        this.$router.push({ path: '/step3' })
      }
    }
  }
}
</script>