<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-md-4 app-header">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="./assets/rombus-global.svg" alt="" width="200"> </a>
        <button class="navbar-toggler" type="button" @click="show = !show" aria-expanded="false" aria-label="Toggle navigation">
          <font-awesome-icon :icon="['fas', 'bars']" class="text-white" width="30"/>
        </button>
        <img src="http://placehold.it/64x64" class="float-left rounded-circle app-header__avatar d-md-none">
        <div class="navbar-collapse justify-content-end" :class="show ? '' : 'collapse'">
          <div class="navbar-nav mt-2 mt-md-0 mr-0 mr-md-4">
            <a class="nav-item nav-link text-white text-uppercase mx-md-3" href="#">Soluciones</a>
            <a class="nav-item nav-link text-white text-uppercase mx-md-3" href="#">Staff</a>
            <a class="nav-item nav-link text-white text-uppercase mx-md-3" href="#">Blog</a>
            <router-link tag="link" to="/" class="btn btn-primary rounded btn-rounded">PUBLICAR PROYECTO</router-link>
          </div>
        </div>
        <img src="http://placehold.it/64x64" class="float-left rounded-circle app-header__avatar d-none d-md-block" >
      </div>
    </nav>
    <div class="app-content">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: false
    }
  }
}
</script>


<style lang="scss">
  @import './src/styles/main.scss';
  @import '../node_modules/bootstrap/scss/bootstrap.scss';
  @import './src/styles/vendor/bootstrap/_core.scss';
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.app-header {
  .navbar-brand {
    width: 130px;

    @include media-breakpoint-up(md) { 
      width: 200px;  
    }

    img {
      max-width: 100%;
    }
  }

  .btn-rounded {
    border: 0.5px solid #ffffff;
  }

  .navbar-toggler {
    border-color: rgba($color: #ffffff, $alpha: .0)
  }
  
  .nav-item {
    @include media-breakpoint-down(md) { 
      padding: 0.2rem 0;  
    }
  }

  &__avatar{
    width: 50px;
    height: 50px;

    @include media-breakpoint-up(md) {
      width: 64px;
      height: 64px;
    }
  }
}
</style>
